<div class="home-articles">
    
       
        <h2>The Value of Money</h2>
    <div class="article-parent">    
        <div class="article-item2">
            <figure>
                <img class="article" src="../img/money.jpg" alt="Image of person holding money" width="400" height="400">
                <figcaption>
                    A woman counts her money.
                </figcaption>
            </figure>
        </div>
        <div class="article-item3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue ut lectus arcu bibendum at varius. Id ornare arcu odio ut sem. Sapien pellentesque habitant morbi tristique senectus et. Urna nunc id cursus metus aliquam eleifend mi in. Dolor purus non enim praesent elementum. Elit ut aliquam purus sit amet luctus. Nisl vel pretium lectus quam id leo in vitae. Quisque sagittis purus sit amet volutpat consequat. Turpis massa sed elementum tempus egestas sed sed risus pretium. Consectetur adipiscing elit pellentesque habitant morbi. <br><br>

            Aliquet nibh praesent tristique magna. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Porta lorem mollis aliquam ut. Justo eget magna fermentum iaculis eu. Ultrices dui sapien eget mi proin sed libero. Maecenas pharetra convallis posuere morbi. Elementum facilisis leo vel fringilla est. Eu tincidunt tortor aliquam nulla facilisi cras. Est sit amet facilisis magna. Sagittis vitae et leo duis ut diam quam nulla porttitor. Ullamcorper malesuada proin libero nunc consequat interdum varius. Elementum integer enim neque volutpat. Nullam vehicula ipsum a arcu cursus. Volutpat est velit egestas dui id ornare arcu odio. <br><br>
                
            Nibh mauris cursus mattis molestie a. Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Pulvinar sapien et ligula ullamcorper malesuada proin libero. Velit ut tortor pretium viverra suspendisse potenti nullam. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Cursus euismod quis viverra nibh cras pulvinar mattis. In iaculis nunc sed augue lacus viverra. Vel turpis nunc eget lorem dolor sed. Mattis nunc sed blandit libero volutpat. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Quis risus sed vulputate odio ut enim blandit volutpat. Fermentum et sollicitudin ac orci. Consectetur libero id faucibus nisl tincidunt eget nullam. Varius morbi enim nunc faucibus a pellentesque sit. Libero id faucibus nisl tincidunt eget nullam.</p>
        </div>
    </div><hr>
    
        <h2>GMO Food</h2>
    <div class="article-parent">    
        <div class="article-item2">
            <figure>
                <img class="article" src="../img/greenhouse.jpg" alt="Image of a greenhouse" width="400" height="400">
                <figcaption>
                    Vegetables growing in a greenhouse.
                </figcaption>
            </figure>
        </div>
        <div class="article-item3">  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue ut lectus arcu bibendum at varius. Id ornare arcu odio ut sem. Sapien pellentesque habitant morbi tristique senectus et. Urna nunc id cursus metus aliquam eleifend mi in. Dolor purus non enim praesent elementum. Elit ut aliquam purus sit amet luctus. Nisl vel pretium lectus quam id leo in vitae. Quisque sagittis purus sit amet volutpat consequat. Turpis massa sed elementum tempus egestas sed sed risus pretium. Consectetur adipiscing elit pellentesque habitant morbi. <br><br>

        Aliquet nibh praesent tristique magna. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Porta lorem mollis aliquam ut. Justo eget magna fermentum iaculis eu. Ultrices dui sapien eget mi proin sed libero. Maecenas pharetra convallis posuere morbi. Elementum facilisis leo vel fringilla est. Eu tincidunt tortor aliquam nulla facilisi cras. Est sit amet facilisis magna. Sagittis vitae et leo duis ut diam quam nulla porttitor. Ullamcorper malesuada proin libero nunc consequat interdum varius. Elementum integer enim neque volutpat. Nullam vehicula ipsum a arcu cursus. Volutpat est velit egestas dui id ornare arcu odio. <br><br>
            
        Nibh mauris cursus mattis molestie a. Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Pulvinar sapien et ligula ullamcorper malesuada proin libero. Velit ut tortor pretium viverra suspendisse potenti nullam. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Cursus euismod quis viverra nibh cras pulvinar mattis. In iaculis nunc sed augue lacus viverra. Vel turpis nunc eget lorem dolor sed. Mattis nunc sed blandit libero volutpat. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Quis risus sed vulputate odio ut enim blandit volutpat. Fermentum et sollicitudin ac orci. Consectetur libero id faucibus nisl tincidunt eget nullam. Varius morbi enim nunc faucibus a pellentesque sit. Libero id faucibus nisl tincidunt eget nullam.</p>
        </div>
    </div><hr>    

    
        <h2>The View of the World in 2100</h2>
    <div class="article-parent">
        <div class="article-item2">
            <figure>
                <img class="article" src="../img/world-view.jpg" alt="Image of a sphere" width="400" height="400">
                <figcaption>
                    The horizon through a sphere.
                </figcaption>
            </figure>
        </div>
        <div class="article-item3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue ut lectus arcu bibendum at varius. Id ornare arcu odio ut sem. Sapien pellentesque habitant morbi tristique senectus et. Urna nunc id cursus metus aliquam eleifend mi in. Dolor purus non enim praesent elementum. Elit ut aliquam purus sit amet luctus. Nisl vel pretium lectus quam id leo in vitae. Quisque sagittis purus sit amet volutpat consequat. Turpis massa sed elementum tempus egestas sed sed risus pretium. Consectetur adipiscing elit pellentesque habitant morbi. <br><br>

        Aliquet nibh praesent tristique magna. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Porta lorem mollis aliquam ut. Justo eget magna fermentum iaculis eu. Ultrices dui sapien eget mi proin sed libero. Maecenas pharetra convallis posuere morbi. Elementum facilisis leo vel fringilla est. Eu tincidunt tortor aliquam nulla facilisi cras. Est sit amet facilisis magna. Sagittis vitae et leo duis ut diam quam nulla porttitor. Ullamcorper malesuada proin libero nunc consequat interdum varius. Elementum integer enim neque volutpat. Nullam vehicula ipsum a arcu cursus. Volutpat est velit egestas dui id ornare arcu odio. <br><br>
            
        Nibh mauris cursus mattis molestie a. Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Pulvinar sapien et ligula ullamcorper malesuada proin libero. Velit ut tortor pretium viverra suspendisse potenti nullam. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Cursus euismod quis viverra nibh cras pulvinar mattis. In iaculis nunc sed augue lacus viverra. Vel turpis nunc eget lorem dolor sed. Mattis nunc sed blandit libero volutpat. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Quis risus sed vulputate odio ut enim blandit volutpat. Fermentum et sollicitudin ac orci. Consectetur libero id faucibus nisl tincidunt eget nullam. Varius morbi enim nunc faucibus a pellentesque sit. Libero id faucibus nisl tincidunt eget nullam.</p>
        </div>
    </div>    
</div>