<h2>Portfolio</h2>
<section class="project-cards">
  
  <div class="card">
      <img src="./img/calculator.jpg" alt="Photo of calculator on phone" width="300" height="300">
      <div class="container">
        <h4><b>Project: Easy Finance</b></h4>
      </div>
  </div>

  <div class="card">
      <img src="./img/field.jpg" alt="Photo of field with hay bales" width="300" height="300">
      <div class="container">
        <h4><b>Project: Field to Fork</b></h4>
      </div>
  </div>

  <div class="card">
      <img src="./img/futuristic.jpg" alt="Photo of futuristic airport" width="300">
      <div class="container">
        <h4><b>Project: The Future is Now</b></h4>
      </div>
  </div>

  <div class="card">
      <img src="./img/sunflower.jpg" alt="Photo of two sunflowers" width="300">
      <div class="container">
        <h4><b>Project: Sunny Days, Hotter Temps</b></h4>
      </div>
  </div>

  <div class="card">
      <img src="./img/trees.jpg" alt="Photo of very tall redwoods" width="300">
      <div class="container">
        <h4><b>Project: America's Greatest Resource</b></h4>
      </div>
  </div>

  <div class="card">
      <img src="./img/vegetables.jpg" alt="Photo of basket of vegetables" width="300">
      <div class="container">
        <h4><b>Project: The Gardening Comeback</b></h4>
      </div>
  </div>

</section>
